body {
   margin: 0;
   padding: 0;
   
   .main {
      margin: 5px;
      padding: 5px;
      overflow: auto;
      
      .Form_Block {
         width: 95%;
         margin: 0 auto;
         margin-top: 2vh;
         border-bottom: 3px solid   rgb(22, 86, 65);
         padding: 10px;
         
         .send_btn {
            background-color: rgb(22, 86, 65);
            border: none;
            padding: 5px;
            font-size: 0.8vw;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            
            &:hover {
               outline: 1px solid rgb(22, 86, 65);
               background-color: white;
               color:  rgb(22, 86, 65);
               font-weight: bold;
            }
         }
         
         h3 {
            width: 30%;
            border-bottom: 3px solid  rgb(22, 86, 65);
            color:  rgb(22, 86, 65);
         }
         
         h5 {
            margin: 0;
            padding: 2px;
         }
      }
      
      .Edit_Block {
         width: 95%;
         height: 30vh;
         overflow: auto;
         margin: 0 auto;
         margin-top: 2vh;
         border: 1px solid black;
         
         padding: 10px;
         table {
            border-collapse: spacing;
            border-spacing: 0;
            border:0.5px solid #333;
            
            th {
               width: 10vw;
               padding: 5px;
               text-align: center;
               border: 0.5px black solid ;
               font-size: 0.7vw;
               background-color: rgb(22, 86, 65);
               color: white;
               font-weight: bold;
               cursor: all-scroll;
            }
            
            td {
               width: 10vw;
               height: 30px;
               padding: 5px;
               text-align: center;
               border: 0.5px black solid ;
               font-size: 0.7vw;
            }
            
            .move_column {
               width: 150px;
               padding: 10px;
               border: none;
               background-color: rgb(9, 62, 62);
               color: white;
               font-weight: bold;
               cursor: pointer;
               
               &:hover {
                  background-color: white;
                  outline: 1px solid rgb(9, 62, 62);
                  color: rgb(9, 62, 62);
               }
            }
         }
      }
      
      .Preview {
         width: 95%;
         height: 30vh;
         overflow: auto;
         margin: 0 auto;
         margin-top: 2vh;
         border: 1px solid black;
         
         padding: 10px;
      }
   }

}
