body {
   margin: 0;
   padding: 0;
   
   .main {
      margin: 5px;
      padding: 5px;
      .Edit_Block {
         width: 95%;
         height: 30vh;
         overflow: auto;
         margin: 0 auto;
         margin-top: 2vh;
         border: 1px solid black;
         
         padding: 10px;
         table {
            border-collapse: spacing;
            border-spacing: 0;
            border:0.5px solid #333;
            
            th {
               width: 10vw;
               padding: 5px;
               text-align: center;
               border: 0.5px black solid ;
               font-size: 0.7vw;
               background-color: rgb(22, 86, 65);
               color: white;
               font-weight: bold;
            }
            
            td {
               width: 10vw;
               padding: 5px;
               text-align: center;
               border: 0.5px black solid ;
               font-size: 0.7vw;
            }
            
            .move_column {
               width: 150px;
               padding: 10px;
               border: none;
               background-color: rgb(9, 62, 62);
               color: white;
               font-weight: bold;
               cursor: pointer;
               
               &:hover {
                  background-color: white;
                  outline: 1px solid rgb(9, 62, 62);
                  color: rgb(9, 62, 62);
               }
            }
         }
      }
      
      .Preview {
         width: 95%;
         height: 30vh;
         overflow: auto;
         margin: 0 auto;
         margin-top: 2vh;
         border: 1px solid black;
         
         padding: 10px;
      }
   }

}
