<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="C:/eco_var/Go/CSV_COnvert_Tool/assets/css/index.css">
    <style type="text/css" media="screen">
      @import url("/assets/css/index.css");
    </style>
</head>

<body>
   <div class="main">
      
      <h5>CSVを選択してください</h5>
      <div class="Form_Block">
         <!-- <form action="/regit" method="POST" enctype="multipart/form-data" name="csvfile"> -->
         <form action="/regit" method="POST" enctype="multipart/form-data" name="csvfile">
               <!-- 
            <input type="submit" value="送信"> -->
               <div>
                  <!-- <input type="text" name="name" value="クジラ"> -->
                  <input type="file" name="CSV_FIle">
                  <input type="submit" value="送信する">
               </div>
               <!-- <div>
                  <input type="submit" value="送信する">
            </div> -->
         </form>
      </div>
      <p>ファイル名：{{ .file_name }} </p>
      <div class="Edit_Block">
         {{ if .file_name }}
         <table>
               {{range $i, $v := .file_ary}} 
                  {{ if lt $i 10}}
                     {{ if lt $i 1}}
                        <tr>
                           {{range index $.file_ary $i}}
                              <td>
                                 <select class="move_column">
                                    <option></option>
                                    {{range index $.file_ary $i}}
                                       <option>{{.}}</option>
                                    {{end}}
                                 </select>
                              </td>
                              <!-- <td><button class="move_column">{{.}}</button></td> -->
                           {{end}}
                        </tr>
                     {{ else}}
                        <tr>
                           {{range index $.file_ary $i}}
                              <td>{{.}}</td>
                           {{end}}
                        </tr>
                     {{ end }}
                  {{end}}
               {{end}}
         </table>

         <div>
               <p>・</p>
               <p>・</p>
         </div>

         {{ else}}
         <p>ファイルを未選択です</p>
         {{ end }}
      </div>
      
      <div class="Preview">
         
      </div>
   </div>
   
</body>

</html>